@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f2f8f2;
  /* nature-50 */
  color: #213924;
  /* nature-900 */
}

#root {
  width: 100%;
  height: 100%;
}